# Java / Maven
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Node / Angular
node_modules/
dist/
.angular/

# Logs & env
*.log
.env
uploads/